body {
    background: #eee;
    text-align: center;
    margin: 0;
}

header {
    width: 100%;
    height: 35px;
    margin: auto;
    text-align: left;
    background: black;
    color: white;
    padding: 10px 10px;
    display: inline-block;
}

#hLeft {
    width: 33.33%;
    display: inline-block;
    font-family: arial;
    font-size: 25px;
}

#hCenter {
    width: 33.33%;
    display: inline-block;
    text-align: center;
}

#hRight {
    width: 33.33%;
    display: inline-block;
}

nav {
    float: left;
    width: 200px;
    height: 750px;
    margin-top: 25px;
    display: inline-block;
    word-wrap: break-word;
    text-align: left;
    border: 1px solid black;
    background-color: black;
}

nav a {
    text-decoration: none;
    color: red;
}

.roomsTitle {
    padding-top: 10px;
    color: red;
    text-align: center;
    text-decoration: underline;
}

.slideToggle {
    float: left;
    width: 15px;
    height: 750px;
    margin-top: 25px;
    display: inline-block;
    word-wrap: break-word;
    text-align: left;
    border: 1px solid black;
    border-radius: 0px 15px 15px 0px;
    background-color: black;
}

nav ul li {
    list-style-type: none;
    color: red;
    padding: 10px;
}

#container {
    width: 100%;
    display: inline-block;
}

#chatContainer {
    float: middle;
    /*display: inline-block;*/
    /*width: 100%;*/
    /*height: 400px;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}
.msgContainer {
    /*border: 1px solid black;*/
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.msgHeader {
    /*border: 1px solid black;   */
    background-color: #999999;
    height: 25px;
    padding: 2px 5px;
}

.userName {
    float: left;
}

.timestamp {
    float: right;
}

.msgContent {
    /*border: 1px solid black;   */
    background-color: #999999;
    word-wrap: break-word;
    max-height: 75px;
    padding: 2px 5px;
    text-align: left;
}

#msgInput {
    width: 150px;
}